@font-face {
  font-family: '{{ .family }}';
  font-style: {{ .style }};
  font-weight: {{ .weight }};
{{- if .old }}
  src: url('{{ .paths.eot }}');
{{- end }}
  src: local(''),
{{- if .old }}
    url('{{ .paths.eot }}?#iefix') format('embedded-opentype'),
{{- end }}
{{- if .paths.woff2 }}
    url('{{ .paths.woff2 }}') format('woff2'),
{{- end }}
{{- if .paths.woff }}
    url('{{ .paths.woff }}') format('woff'),
{{- end }}
{{- if .paths.ttf }}
    url('{{ .paths.ttf }}') format('truetype'),
{{- end }}
{{- if .paths.svg }}
    url('{{ .paths.svg }}') format('svg');
{{- end }}
}
